{% extends "BlogBundle:Default:layout.html.twig" %}

{% block content %}
		
		<div class="col-md-12">
	{% if app.session.flashbag().get('session') is defined %}
		{% for message in app.session.flashbag().get('session') %}
			<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>{{message}}</strong>
			</div>	    
		{% endfor %}
	{% endif %}
		</div>

<div class="col-md-6">
	<legend>Crear nueva Categoria</legend>
	<div class="col-md-12">
	{{form_start(form)}}
			
	{{form_end(form)}}
	</div>

</div>

<div class="col-md-6">
	
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>

		{% for category in categories %}
	    	<tr>
				<td>{{category.name}}</td>
				<td>{{category.description}}</td>
				<td><a href="{{path("editcategory", {"id": category.id})}}" title=""><span data-id=" {{category.id}} " class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> Editar</td>
				<td><a href="{{path("deletecategory", {"id": category.id})}}" title=""><span data-id=" {{category.id}} " class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> Eliminar </td>

			</tr>
	{% endfor %}
			
		</tbody>
	</table>
	

</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

	

</script>
{% endblock %}