{% extends "BlogBundle:Default:layout.html.twig" %}

{% block content %}
		
		<div class="col-md-12">
	{% if app.session.flashbag().get('session') is defined %}
		{% for message in app.session.flashbag().get('session') %}
			<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>{{message}}</strong>
			</div>	    
		{% endfor %}
	{% endif %}
		</div>

<div class="col-md-6">
	<legend>Crear nueva Entrada</legend>
	<div class="col-md-12">
	{{form_start(form, {'enctype': 'multpart/form-data'})}}
			
	{{form_end(form)}}
	</div>

</div>

<div class="col-md-6">
	
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Categoria</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>

		{% for entry in entries %}
	    	<tr>
				<td>{{entry.title}}</td>
				<td>{{entry.category.name}}</td>
				{% if app.user != null %}
				{% if entry.user.id == app.user.id %}
				    
				
				<td><a href="{{path("editentry", {"id": entry.id})}}" title=""><span data-id=" {{entry.id}} " class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> Editar</td>
				<td><a href="{{path("deleteentry", {"id": entry.id})}}" title=""><span data-id=" {{entry.id}} " class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> Eliminar </td>
				{% else %}
				<td>No tienes permisos para editar esta entrada</td>
				{% endif %}
				{% else %}
				<td>Debes iniciar sesion para editar o eliminar</td>
				{% endif %}

			</tr>
	{% endfor %}
			
		</tbody>
	</table>
	

</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

	

</script>
{% endblock %}